@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-family: "Anton", serif;
    font-family: "Work Sans", serif;
   
}

.test{
    width: 100%;
    height: 100cm;
    background-color: #06010E;
    background-image: url(p4/lines.png);
    background-size:contain
}
.firstpart{
    width: 100%;
    height: 90vh;
    display: flex;
  
}
.leftside{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
}
.leftside a{
    color: white;
    position: relative;
    top: 17%;
    right: 24%;
    font-size: 20px;
    
}
.rightside{
    width: 50%;
    height:100%;

    display: flex;
    align-items: center;
}
.onebox{
    color: white;
    position: relative;
    top: 40px;
    font-family: "Anton", serif;
}
.ff{
    font-size: 74.16px;
    font-family: "Anton", serif;
    letter-spacing: 8px;
}
.aa{
    position: relative;
    left: 168px;
    
}
.bb{
    position: relative;
    bottom: 30px;
  
}
.cc{
    position: relative;
    bottom: 60px;
}
.dd{
    position: relative;
    bottom: 105px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    position: relative;
    left: 398px;
}
.ee{
    position: relative;
    bottom: 130px;
    left: 30px;
}
.circle{
    width: 15px;
    height: 15px;
    border: solid #A352FF;
    border-radius: 50%;
    position: relative;
    right:55px;
    top: 70px;
    background-color: #A352FF;
}
.circle2{
    width: 12px;
    height: 12px;
    border: solid white;
    border-radius: 50%;
    position: relative;
    right:45px;
    top: 43px;
    background-color: white;

}

.principle{
    width: 88%;
    height: 480px;
    border: solid white;
    position: relative;
    left:6%;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    background-color: white;
}
.zz{
    width: 25%;
    height: 100%;
    border: solid white;
}
.zz1{
   background-color: white;
   width: 23%;
}
.zz2{
    width: 26;
    position: relative;
    right: 15px;
}
.fp1{
    width: 100%;
    height: 100px;
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;

}
.fp1 a{
    font-size: 35px;
    font-family: "Anton", serif;
    letter-spacing: 3px;
    position: relative;
    top: 9px;
    right: 20px;
    color: black;
}
.fp1 img{
    height: 48px;
    position: relative;
    top: 5px;
    right: 30px;

}
.fp2{
    width: 100%;
    height: 80px;
    color: black;
    display: flex;
    justify-content: center;
    font-family: "Work Sans", serif;
}

.fp3{
    width: 100%;
    height: 62%;
}
.fp3 img{
    position: relative;
    left: 50px;
    bottom: 30px;
}
.zz2{
    background-color: white;
 
}
.halfpart{
    width: 100%;
    height: 50%;
    

}
.halfpart a{
    position: relative;
    left: 4px;
    font-size: 18px;
}
.allimg{
    height: 20px;
}
    
.title{

    height: 80px;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: start;
    font-weight: 600;
    top: 5px; 
}
.detail{
    font-size: 15px;
    position: relative;
    left: 27px;
    top: 12%;
    font-weight: 350;

}
.lowerpart{
   
    height: 50%;
}
.T1 img{
    position: relative;
    bottom: 50px;
}
.T1 a{
    position: relative;
    bottom: 50px;
    left: 4px;
    font-size: 18px;
}
.LowerD{
    font-size: 15px;
    position: relative;
    left: 27px;
    font-weight: 350;
    bottom: 20px;
}
